.box{
  min-height: 200px;
}

.box-1{
  background-color: #BA56F7
}

.box-2{
  background-color: #FF6161;
}

.box-3{
  background-color: #505CCA;
}
.box-4{
  background-color: #3DAD99;
}
.box-5{
  background-color: #BE3690;
}